  <!DOCTYPE html>
    <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/skills/index.ejs' />
    </head>
    <body>
      <h1><%= title %></h1>
      <a href="/skills">skills List</a>
    </body>
  </html>